*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#offer-grid .container{
    height: 300px;
    width: 450px;
    /* border: 2px solid red; */
    margin-top: 50px;
}

#outer-div{
    width: 1440px;
    height: 917px;
    background-color: #F4F7FD;
    /* border: 2px solid red; */
}

#offer-grid .container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    

}

#offer-grid .container #ellipse-container{
    width: 94px;
    height: 94px;   
    background: url("img/Ellipse.png") no-repeat center center/cover;
}

#offer-grid .container #ellipse-container .img{
    margin: 15px 18px;
}

#offer-grid .container a{
    font-weight: medium;
    font-size: 20px;
    line-height: 33px;
letter-spacing: -0.32px;
color: #0F4DC1;
margin-bottom: 10px;

}

#offer-grid .container p{
    margin: 0;
    text-align: center;
    font-weight: medium;
    font-size: 18px;
    line-height: 27px;
color: #000000;
opacity: 0.7;
}

.offer-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}
